*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bakgrund{
    width: 100%;
    height: 100vh;
    background-image:  url(bilder/bakgrund.jpg);
    background-size: cover;

}
.färg{
    background-color: grey;
    width: 100%;
    height: 115vh;
}

.navbar{
    width: 20%;
    margin: auto;
    padding: 30px 0;
    align-items: center; 
}
.navbar ul li{
    list-style: none;
    display: inline-table;
    position: relative;
}
.navbar ul li a{
text-decoration: none;
color: black;
}
.navbar ul li a:visited{
    color:purple;
}
.navbar ul li a:hover { 
    color: darkgray;
    text-decoration: underline;

}
img{
    margin-left: 80%;
    width: 300px;
    height: 300px;
}
.fråga{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: black; 
}
.fråga h1{
    font-size: 40px;
    margin-top: 80px;
    border: solid black;
    border-style: double;
}
#idnamn{
color: purple;
font-weight: lighter;
}
#idnamn2{
    color: blue;
    font-weight: lighter;
}
.fråga li {
    font-size:17px;
    font-weight: bold;
    margin: 2px;
    color: black; 
}
.blommor{
    width: 500px;
    height: 310px;
    float: right;
}
.html{
    margin-top: 440px;
}


